<footer class="text-center text-lg-start  text-muted" style="background-color: rgb(7, 27, 27);">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5  d-lg-block p-3">
        <span style="color: white; padding-top: 20px;">Let's connect:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div class="d-flex justify-content-center footer_button">
      
        <a href="https://www.instagram.com/la._weddings?igsh=MXRpbmhjY2IxaXJ6ZA=="  class="me-1 fa fa-instagram  fa-2x">
          <a href="https://youtube.com/@LACREATIVES?si=AnCr34tHtBofX7jh" target="_blank" class="fa fa-youtube  fa-2x">
           
        </a>
        <a href="https://wa.me/919895074646" target="_blank" class="fa fa-whatsapp  fa-2x">
           
        </a>
        
        </a>
       
        
         
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <div style="height: 20px;">
  
        </div>
     
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(129, 115, 115, 0.025); color: white;">
      © 2022 Copyright:
      <a class="text-reset fw-bold " href="" style="text-decoration: none;">LA CREATIVES</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
