<footer class="text-center text-lg-start  text-muted" style="background-color: rgb(7, 27, 27);">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    
      <!-- Right -->
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <center>  <h4 class="lets_connect scroll_reveal">Let's connect</h4>
        <div class=" footer_button scroll_reveal">
          <center>
  
        
          <a href="https://www.instagram.com/la._creatives?igsh=MTBkZG41OGRnOTdnNQ=="  class=" fa fa-instagram  fa-2x">    </a>
            <a href="https://youtube.com/@LACREATIVES?si=AnCr34tHtBofX7jh" target="_blank" class="fa fa-youtube  fa-2x">
             
          </a>
          <a href="https://wa.me/919895074646" target="_blank" class="fa fa-whatsapp  fa-2x">
             
          </a>
          <a href="https://www.linkedin.com/company/la-creatives/" target="_blank" class="fa fa-linkedin  fa-2x">
             
          </a>
       
        </center>
      </div>
    </center>
   

     
    
       
        
         
      
      </div>
   
     
    </section>
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <div style="height: 20px;">
  
        </div>
     
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(129, 115, 115, 0.025); color: white;">
      © 2024 Copyright:


      <a class="text-reset fw-bold " href="" style="text-decoration: none;">LA CREATIVES</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
