
{% load static %}
<div style="height: 50px;"></div>
<div class="container-fluid  ">
  <div class="header_text scroll_reveal">
    <center>
        <!-- <h1 class="text_deceration1">The <span style="color: rgb(63, 68, 68);">Art </span>of </h1> -->
        
        <h1 class="text_deceration1 scroll_reveal" style="font-size: 40px;"><strong>The Film Art</strong></h1>
        <h2 class="text_deceration scroll_reveal"> Innovate. Create. Captivate </h2>

    </center>
    
  </div>
  <div class="header_style">
   <center>
    <h4 class="text_style2 scroll_reveal">  Crafting mesmerizing films and marketing magic through the art of compelling perspectives.

    </h4>

   </center>
  </div>
  <div style="padding-bottom: 20px;">
   <center>
    <a href="https://wa.me/919895074646" target="_blank">
    <button class="btn button_style_for_know_us scroll_reveal"> Contact Us

    </button>
  </a>
   </center>

  </div>



</div>
<div style="height: 50px;"></div>
<div class="container ">
  <div class="youtube scroll_reveal">

    <!-- <iframe width="100%" height="100%" src="" title="YouTube video player" frameborder="1" frameborder="0" allowfullscreen="" style="position:absolute; top:0; left: 0;padding: 10px;"></iframe> -->
    <iframe width="100%" height="100%" style="position:absolute; top:0; left: 0;padding: 10px;" src="https://www.youtube.com/embed/uP4lgYg0rxI?si=NVoxS727lk3CFxLu" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>  </div>
</div>
<div style="height: 70px;"></div>

<div class="container-fluid " id="contact_us">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 scroll_reveal" style="display: flex; align-items: center;justify-content: center;">
      <center>
        <img src="{% static 'image/moon.jpg' %}" width="350px" height="350px">

      </center>

    </div>
   
     
    
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 pe-3">
          <div style="height: 10px;"></div>
        
      
        <h5 style="color: azure;" class="scroll_reveal"><b> KNOW US</b></h5>
        <h3 class="know_us scroll_reveal"><b>Artistry In filmmaking</b></h3>
        <p class="text_style scroll_reveal">just after graduation, a bunch of like-minded talented pals, gave birth to a venture named 'la creatives'. Exclusively built by entrepreneurship, we mainly focus on connecting and collaborating with the clients via social media platforms. With the advent of modern technology, in this digital era, we are progressively building communities by conceptual creations, and advancing them to global recognition. By capturing pure and authentic moments, we grow/transform them into extraordinary pieces of memorable creations. Join us on this journey where every frame narrates a story, and every idea transformed into captivating visual treats.
</p>
        
      
      <center>
       <a href="https://wa.me/919895074646"> <button  class="btn button_style_for_know_us scroll_reveal"> Contact Us
    
        </button>
      </a>
       </center>
    

    </div>
    
      <div style="padding-bottom: 50px;">
       
       </div>
   <div class="container " style="padding-bottom:10% ;">
    <center>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-3 pb-4 scroll_reveal">
        <h4 class="know_us scroll_reveal">
          Our Clients
        </h4>
      </div>
    <div class="row" style="padding-top: 5%;">
      <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-3 pb-4  scroll_reveal">
       <a href="https://www.instagram.com/reel/CozQWxXglwt/?igsh=MWN0eTBkandqaTl3ZQ==" target="_blank"> <img src="{% static 'image/iimcalicut.png' %}" style="border-radius: 50%;" width="75px" height="75px">
        <p  class="client_name">IIM calicut</p>
      </a>
      </div>
      <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4  mb-3 pb-4 scroll_reveal">
        <a href="https://www.instagram.com/reel/CxLA3DPye9h/?igsh=MWRvd250aDZoNGpwNA==" target="_blank"> <img src="{% static 'image/iitg.jpg' %}" style="border-radius: 50%;" width="75px" height="75px">
        <p class="client_name">IIT Guwahati </p></a>
      </div>
      <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4  mb-3 pb-4 scroll_reveal">
        <a href="https://www.instagram.com/reel/Cc9zvftlRDu/?igsh=MXJuYWE3Y29vc3MzMw==" target="_blank"><img src="{% static 'image/nitcalicut.png' %}" style="border-radius: 50%;" width="75px" height="75px">
        <p class="client_name">NIT Calicut</p></a>
      </div>
      <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4  mb-3 pb-4 scroll_reveal">
       <a href="https://www.instagram.com/reel/CmVrQsAjuLU/?igsh=MThnemZ1d2p5MXFodA==" target="_blank"> <img src="{% static 'image/iitb.png' %}" style="border-radius: 50%;" width="75px" height="75px">
        <p class="client_name">IIT Bombay</p>
      </a>
      </div>
      <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4  mb-3 pb-4 scroll_reveal">
        <a href="https://www.instagram.com/reel/CwaNvNlMaRP/?igsh=eWNlanA1eWxiajRr" target="_blank"><img src="{% static 'image/nitthirichirapalli.png' %}" style="border-radius: 50%;" width="75px" height="75px">
        <p class="client_name">NIT Trichy</p></a>
    </div>
      <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4  mb-3 pb-4 scroll_reveal" target="_blank">
       <a href="https://www.instagram.com/reel/Cd8SI7gBpFv/?igsh=MXJsM3l6eno4MXV5dA=="> <img src="{% static 'image/kmct.jpg' %}" style="border-radius: 50%;" width="75px" height="75px">
        <p class="client_name">KMCT</p>
      </a>
      </div>
      <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4  mb-3 pb-4 scroll_reveal">
        <a href="https://www.instagram.com/reel/CbxKtH0gikm/?igsh=Mmp2NzEzdW9uNnY4" target="_blank"><img src="{% static 'image/sjc.png' %}" style="border-radius: 50%;" width="75px" height="75px">
        <p class="client_name">SJC College</p></a>
      </div>
      <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4  mb-3 pb-4 scroll_reveal">
      <a href="https://www.instagram.com/reel/C2Fyu7OoQro/?igsh=MTlveW9xMmYzdmN3dA==" target="_blank"> <img src="{% static 'image/chanakya.png' %}" style="border-radius: 50%;" width="75px" height="75px">
        <p class="client_name">Chanakya B School</p></a> 
      </div>
    </div> 
  </center> 
   </div>
   
     
       <div style="padding-bottom: 50px;">
       
     

    
  </div>

</div>
  
	<div class="milestones" style="background-color: rgb(30, 29, 29);">
		<div class="container " >
			<div class="row">
				
				<!-- Milestone -->
				<div class="col-12 col-sm-12 col-md-6 col-lg-3 mb-3 milestone_col">
					<div class="milestone text-center scroll_reveal">

						<div class="milestone_counter" data-val="25">00</div>
						<div class="milestone_text">Project Completed</div>
					</div>
				</div>

				<!-- Milestone -->
				<div class="col-12 col-sm-12 col-md-6 col-lg-3 mb-3 milestone_col">
					<div class="milestone text-center scroll_reveal">
						<div class="milestone_counter" data-val="213">00</div>
						<div class="milestone_text">Happy Clients</div>
					</div>
				</div>

				<!-- Milestone -->
				<div class="col-12 col-sm-12 col-md-6 col-lg-3 mb-3 milestone_col">
					<div class="milestone text-center scroll_reveal">

						<div class="milestone_counter" data-val="2000">00</div>
						<div class="milestone_text">Hours Spents</div>
					</div>
				</div>

				<!-- Milestone -->
				<div class="col-12 col-sm-12 col-md-6 col-lg-3 mb-3 milestone_col">
					<div class="milestone text-center scroll_reveal">

						<div class="milestone_counter" data-val="20">00</div>
						<div class="milestone_text">Members</div>
					</div>
				</div>

			</div>
		</div>
	</div>
  <div class="container " style="padding:20px 20px 0 20px" id="program">
    <div class="row">
        <!-- Card 1 -->
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 mb-4 p-3  scroll_reveal">

          <div class="card background_color border-secondary p-3" style="width: 100%; height: 520px;">
              <img src="{% static 'image/event.jpg' %}" height="250px" width="100%" class="card-img-top image_style" alt="...">
              <div class="card-body">
                  <h5 class="card-title text_color pb-2"><b>Events</b></h5>
                  <p class="card-text text_color_card">Capture the essence of your Corporate Events, Weddings, Automotive events with our expert photography and Videography</p>
                  <div style="height: 10px;"></div>
                  <a href="https://wa.me/919895074646" target="_blank" class="btn btn-link link_style">Contact Us</a>
              </div>
          </div>
      </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 mb-4 p-3 scroll_reveal" >

            <div class="card background_color border-secondary p-2" style="width: 100%; height: 520px;">
                <img src="{% static 'image/digital.jpg' %}" height="250px" width="100%" class="card-img-top image_style" alt="...">
                <div class="card-body ">
                    <h5 class="card-title text_color pb-2"><b>digital marketing</b></h5>
                    
                    <p class="card-text text_color_card">Maximize your online presence with our expert digital marketing services. We specialize in SEO, Website, Social Media, Content Creation.</p>
                    <div style="height: 4px;"></div>
                    <a href="https://wa.me/919895074646" class="btn btn-link link_style">Contact Us</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 mb-4 p-3 scroll_reveal" >

          <div class="card background_color border-secondary p-2" style="width: 100%; height: 520px;">
              <img src="{% static 'image/weding.jpg' %}" height="250px" width="100%" class="card-img-top image_style" alt="...">
              <div class="card-body ">
                  <h5 class="card-title text_color pb-2"><b>Wedding</b></h5>
                  
                  <p class="card-text text_color_card">Capture every magical moment of your special day with our Wedding photography & Videography  services!</p>
                  <div style="height: 10px;"></div>
                  <a href="https://www.instagram.com/la._weddings?igsh=MXRpbmhjY2IxaXJ6ZA==" target="_blank" class="btn btn-link link_style">Contact Us</a>
              </div>
          </div>
      </div>
      
  
</div>
<div style="height: 100px;" ></div>
<center>

  <div id="carouselBasicExample" class="carousel slide carousel-fade scroll_reveal" data-mdb-ride="carousel" data-mdb-carousel-init>

    <!-- Indicators -->
    <!-- <div id="carouselExampleIndicators" class="carousel slide" data-bs-interval="3000" > Set the interval in milliseconds -->
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselBasicExample" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselBasicExample" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselBasicExample" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselBasicExample" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselBasicExample" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselBasicExample" data-bs-slide-to="5" aria-label="Slide 6"></button>
        <button type="button" data-bs-target="#carouselBasicExample" data-bs-slide-to="6" aria-label="Slide 7"></button>
        <button type="button" data-bs-target="#carouselBasicExample" data-bs-slide-to="7" aria-label="Slide 8"></button>
        <button type="button" data-bs-target="#carouselBasicExample" data-bs-slide-to="8" aria-label="Slide 1"></button>

      </div>
  
    <!-- Inner -->

    <div class="carousel-inner scroll_reveal" >

      <div class="carousel-item active">
        <img src="{% static 'image/image1.jpg' %}" class="d-block w-100 img-fluid" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'image/image2.jpg' %}" class="d-block w-100 img-fluid" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'image/image3.jpg' %}" class="d-block w-100 img-fluid" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'image/image4.jpg' %}" class="d-block w-100 img-fluid" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'image/image5.jpg' %}" class="d-block w-100 img-fluid" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'image/image6.jpg' %}" class="d-block w-100 img-fluid" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'image/image7.jpg' %}" class="d-block w-100 img-fluid" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'image/image8.jpg' %}" class="d-block w-100 img-fluid" alt="...">
      </div>
    </div>
    <!-- Inner -->
  
    <!-- Controls -->
   <button class="carousel-control-prev" type="button" data-bs-target="#carouselBasicExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselBasicExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
  </div>
  <!-- Carousel wrapper -->
</center>
<div style="height: 100px;" ></div>





  

      

</div>

     
    
</div>

<script>


document.addEventListener("DOMContentLoaded", function() {
    let milestones = document.querySelectorAll(".milestone_counter");

    milestones.forEach(milestone => {
        let endValue = parseInt(milestone.getAttribute("data-val"));
        let duration = 3000; // You can adjust the duration as needed
        let increment = Math.ceil(endValue / (duration / 100));

        let currentValue = 0;
        let counter = setInterval(function() {
            currentValue += increment;
            milestone.textContent = currentValue;

            if (currentValue >= endValue) {
                milestone.textContent = endValue; // Ensure the final value is accurate
                clearInterval(counter);
            }
        }, 100);
    });
});


</script>


