
     
.image_size{
height: 50px;
width: 50px;
}

body{
font-family: 'Poppins',sans-serif;
}



.fa {  
padding: 10px;  
text-align: center;  
margin: 3px 2px;  
font-size: 30px;  
width: 40px;  

}  

.fa-button{
color: rgb(255, 255, 255); 
}
.fa-instagram {  
color: rgb(255, 255, 255);  

}
.fa-youtube{
color: rgb(255, 255, 255);  

}
.fa-whatsapp{
color: rgb(255, 255, 255);  

}
#insta {
background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
-webkit-background-clip: text;
  /* Also define standard property for compatibility */
  background-clip: text;
-webkit-text-fill-color: transparent;


}  

.text_deceration{
font-size: 350%;
font-weight: 600;
color:rgb(255, 255, 255);
}
.text_deceration1{
font-size: 350%;
font-weight: 500;
color:rgb(255, 255, 255);
}
.text_style2{
color: rgb(212, 212, 212);
}




.link{
color: white;
text-transform: uppercase;
padding: .5rem;
position: relative;
}
.link::before{
content: "";
position: absolute;
width: 100%;
height: 2px;
background: #fff;
border-radius: 5px;
transform: scaleX(0);
transition: all 0.6s ease;
color:rgb(110, 110, 215);

background-color: #6f6ffd;

}
.link::before{
bottom: 0;
left: 0;

}
.link:hover{
color: blue;
}


.link:hover::before{
transform: scalex(1);


}






a{
    text-decoration: none;
}
.text_style{
    padding: 1px;
    font-size: 20px;
}
.header_style{
    padding-bottom: 10px;
}
.header_text{
    padding-bottom: 20px;
}
.milestones
{
width: 100%;
background: #FFFFFF;
padding-top: 115px;
padding-bottom: 115px;
}
.milestone
{
width: 100%;
}
.milestone_icon
{
display: inline-block;
height: 82px;
width: 82px;
}
.milestone_icon img
{
max-width: 100%;
}
.milestone_counter
{
font-family: 'Oswald', sans-serif;
font-size: 60px;
font-weight: 500;
color: #a9a6a6;
line-height: 0.75;
margin-top: 35px;
}
.milestone_text
{
font-family: 'Oswald', sans-serif;
font-size: 18px;
font-weight: 500;
color: #838383;
margin-top: 31px;
line-height: 0.75;
}





.instagram:hover  {
background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
-webkit-background-clip: text;
  /* Also define standard property for compatibility */
  background-clip: text;
-webkit-text-fill-color: transparent;


}

.youtube_icon{
color: rgb(225, 17, 17);
}






.youtube{   
padding-bottom:75.25%; 
position:relative;
display:block; 
width: 100%;



}
.whatsapp_icon{
color:rgb(28, 219, 28)
}
.know_us{
font-size: 36px;
letter-spacing: .8px;
color: rgb(224, 217, 217);
}
.text_style{
font-size: 18px;
letter-spacing: 1px;
text-align: justify;
text-justify: inter-word;
color: rgb(163, 163, 163);

}
/* .form_style{
padding:5% 10% 10% 10%;
} */
.submit_button{
letter-spacing: 1.2px;
text-transform: uppercase;
}

.error{
/* margin-top: 10px; */
color: #af0c0c;

padding: 8px;
display: none;
}
.success{
margin-top: 30px;
color: rgb(0, 0, 0);
background-color: lightgreen;
}
.text_color{
color: white;
letter-spacing: 1.2px;
text-transform: uppercase;
}
.text_color_card{
color: rgb(170, 165, 165);
}
.text_color_card:hover{
color: white;
}
.background_color{
background-color: rgb(19, 17, 17);
padding-top: 10px;
}
.image_style{
padding: 40px;
cursor: pointer;
box-shadow: 0 4px 6px -1px(rgba(0, 0, 0, 0.5));
border-radius: 10px;

}
.image_style:hover{
transform:scale(1.2);
}

.link_style{
position: relative;
text-decoration: none;
color: rgb(175, 172, 172);
font-size: 18px;
letter-spacing: 1.5px;
padding: 0 10px;

}
.link_style:after{
content: "";
position: absolute;
background-color: #6f6ffd;
height: 2px;
width: 0;
left: 0;
bottom: -10px;
transition: 0.3s;

}
.link_style:hover{
color: #6258ec;
}
.link_style:hover::after{
width: 100%;
}
.title_style{


color: #999999;
font-style: normal;
font-weight: 600;
line-height: 1.8;
text-transform: uppercase;
font-family: var(--wp--preset--font-family--poppins);

}
.title_content{
font-family: var(--wp--preset--font-family--poppins);

margin-top: -15px;

color: white;

}

.button_style_for_know_us{
width: 121px;
margin-top: 8px;

background-color: #151414;
border: 1px solid rgb(255, 255, 255);
border-radius: 41px;
box-sizing: border-box;
color: #dfe1e5;
font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
font-size: 16px;
font-weight: bold;
line-height: 1.25rem;
padding: 0.75rem 1rem;
text-align: center;
text-decoration: none #D1D5DB solid;
text-decoration-thickness: auto;
box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
cursor: pointer;
user-select: none;
touch-action: manipulation;
}


.button_style_for_know_us:hover {
background-color: rgb(249,250,251);


}
.button_style_for_know_us:focus{
outline: 2px solid transparent;
outline-offset: 2px;
}
.button_style_for_know_us:focus-visible{
box-shadow: none;
}
.ready_towork{

height: 400px;
}

.text_overflow{
text-overflow: clip;
overflow: hidden;

}
.form_text{

color: rgb(150, 143, 143);
letter-spacing: .5px;

}



.cursor_bar{
display: flex;
justify-content: center;
align-items: center;

height: 50%;
width: 80%;

}
input[type="text"],  input[type="email"] ,input[type="textarea"]{

background-color : #807b7b; 
border: 2px solid black;

}


